<h1>Order Confirmed!</h1>


<section class="order-list">
  <ul>
    <% @order.order_items.each do |item| %>
    <li>
      <%= link_to item.product.name, product_path(item.product) %>
      <ul>
        <li>
          Quantity: <%= item.quantity %>
        </li>
        <li>
            Price: <%= number_to_currency(item.price) %>
        </li>
        <li>
          Status: <%= item.status %>
        </li>
      </ul>
    </li>
    <% end %>
  </ul>
</section>

<section class="order-total">
  <h2>Order Info</h2>
  <div class="row">
  <table class="column small-4 end">
    <tr>
      <td>Subtotal</td>
      <td><%= number_to_currency(@order.price) %></td>
    </tr>
    <tr>
      <td>Tax</td>
      <td><%= number_to_currency(@order.tax) %></td>
    </tr>
    <tr>
      <td>Total</td>
      <td><%= number_to_currency(@order.total) %></td>
    </tr>
    <p>
      <%# FIX THE BELOW MESSY CODE %>
      Placed: <%= readable_date(@order.order_items[0].updated_at) %>
    </p>
  </table>
</div>
</section>

<section class="billing-info">
  <%= display_address(@order) if @order && @order.billing %>
</section>
