<!-- <%= csrf_meta_tags %>
<%= favicon_link_tag 'faviconsquarespacecupcake.png' %> -->
<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
<!-- <%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application", 'data-turbolinks-track' => true %> -->

<!-- This will go in the middle as a photo slide show with a button in the middle to click on -->

<a href="/products"><h1 class="overlay"><span>Shop All Products</span></h1></a>


<div id="slideshow">
  <div id="slide-holder">

    <div class="slide">
      <%= image_tag 'shitcookies.jpg', alt: 'shitcookies', class: "homepage-banner" %>
    </div>

    <div class="slide">
        <%= image_tag 'aiwl.jpg', alt: 'unicorncake', class: "homepage-banner" %>
    </div>

    <div class="slide">
        <%= image_tag 'macarons.jpg', alt: 'totorobuns', class: "homepage-banner" %>
    </div>

    <div class="slide">
        <%= image_tag 'cupcakes.jpg', alt: 'cutecupcakes', class: "homepage-banner" %>
    </div>

  </div>
</div>
