<h1>Foodsie Products</h1>

<%= link_to "All Products", products_path, class: "button" %>

<ul>
  <% @products.each do |product| %>

  <li><%= link_to(product.name, product_path(product.id)) %></li>
  <li><%= product.description %></li>
  <li><%= product.price %></li>
  <li><%= product.quantity %></li>
  <li><%= product.merchant.username %></li>
  <% end %>
</ul>
