<section class="row">
  <div class="small-12 large-6 columns">
    <% if @product.photo_url && (uri?(@product.photo_url) || asset_exist?(@product.photo_url)) %>
    <%= link_to image_tag @product.photo_url, alt: 'link to', class: "product" %>
    <% end %>
  </div>

  <div class="small-12 large-6 columns">
    <h3><%= @product.name %></h3>
    <% if @auth_user && @auth_user.id == @product.merchant_id %>
      <%= link_to "Edit Product", edit_product_path(@product), class: "button" %>
    <% end %>
    <p>Description: <%= @product.description %></p>
    <p>Price: <%= readable_price(@product.price) %></p>
    <p>Quantity Available: <%= @product.quantity %></p>
    <p>Seller: <%= link_to (@product.merchant.username), merchant_products_path(@product.merchant) %></p>
    <p class="categories-buttons">
      Categories:
      <% @product.categories.each do |category| %>
      <%= link_to category.name, category_products_path(category.name) %>
      <% end %>
    </p>

    <% if @product.quantity > 0 %>
    <%= form_tag(product_add_to_cart_path(@product.id), method: :patch) do %>
    <%= label_tag :quantity %>
    <%= select_tag :quantity, options_for_select(1..@product.quantity)%>
    <%= submit_tag 'Add To Cart', class: "button" %>
    <% end %>
    <% else  %>
    <button type="button" class="button secondary" disabled>Sold Out</button>
    <% end %>
  </div>

</section>

<section id="reviews" class="row">
  <h2>Reviews</h2>
  <% @rating = @product.average_rating == nil ? "unrated" : @product.average_rating %>
  <h4>Average Rating: <%= @rating %></h4>

  <div class="reviews">

  <%= link_to "Add Review", new_product_review_path(@product.id), class: "button" %>
  <% if @product.reviews.length == 0 %>
    <h3>Currently no reviews for this product.</h3>
  <% else %>
    <% @product.reviews.each do |review| %>
    <p>Rating: <%= review.rating %></p>
    <p>By: <%= get_name(review.user) %> at <%= readable_date(review.updated_at) %></p>
    <p><%= review.text %></p>
    <hr>
    <% end %>
  <% end %>
</div>

</section>
