<%= link_to "All Products", products_path, class: "button" %>

<% if @product %>
  <h3><%= @product.name %></h3>
  <p>Description: <%= @product.description %></p>
  <p>Price: <%= @product.price %></p>
  <p>Quantity Available: <%= @product.quantity %></p>
<% end %>

<%= link_to "Purchase", products_path, class: "button" %>
