<!DOCTYPE html>
<html>
  <head>
    <title>Foodsie!</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'faviconsquarespacecupcake.png' %>
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>

<!-- This portion is solid, please leave it alone. -->

<body>
  <!-- Navigation bar/links -->
  <header class="row expanded">
    <nav>

      <h1 class ="foodsie"><%= link_to "Foodsie", root_path %></h1>

      <div class="float-right">
        <li class="navlinks"><%= link_to "Categories", categories_path %></li>
        <li class="navlinks"><%= link_to "All Products", products_path %></li>
        <% @size = @cart_size == nil ? 0 : @cart_size %>
        <%# byebug %>
        <li class="navlinks"><%= link_to "Cart - #{@size} #{"item".pluralize(@size)}", cart_path%></li>
        <% if @auth_user %>
        <li class="navlinks"><%= link_to "Your Dashboard", merchant_path(@auth_user) %></li>
        <li class="navlinks"><%= link_to "Sign Out", logout_path, method: :post %></li>
        <% else %>
        <li class="navlinks"><%= link_to "Sign In/Up", login_path %></li>
        <% end %>
      </div>
    </nav>
  </header>

  <!-- LEAVE THIS IN: displays flash messages -->

  <%= render partial: "/layouts/flash" %>


  <% if params[:action] == "home" %>
    <%= yield %>
  <% else %>
    <main class="row">
      <%= yield %>
    </main>
  <% end %>

  <section class="row debug">
    <%= debug(params) if Rails.env.development? %>
  </section>
  <hr class="root-hr">
  <footer>
    <div class="footer">
      <p id="copyright">
        © 2017 - Foodsie.
      </p>
    </div>
  </footer>
</body>
</html>
